body {
    background: linear-gradient(to bottom, green 0%, yellow 50%, blue 100%)
        no-repeat;
    /* height:100vh; */
}
.container {
    width: 700px;
    margin: 15px auto;
    height: 100vh;
    /* display: grid; */
}
.question {
    text-align: center;
    font-size: 25px;
    color: rgb(41, 41, 99);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 35px;
    background: linear-gradient(130deg, green 0%, yellow 50%, blue 200%)
        no-repeat;
    display: none;
}
.question-start {
    text-align: center;
    font-size: 25px;
    color: rgb(41, 41, 99);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 35px;
    background: linear-gradient(130deg, green 0%, yellow 50%, blue 200%)
        no-repeat;
    display: block;
}
.reponses {
    text-align: center;
    display: none;
}
.reponses-start {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.enter {
    animation: new-question 3s 1s ease;
    -webkit-animation: new-question 3s 1s ease;
}
.start {
    text-align: center;
    margin-top: 20px;
}
.restart {
    display: none;
    text-align: center;
    margin-top: 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px 35px;
    font-size: 25px;
    background-color: blue;
    color: white;
    margin: 35px auto;
}
.game-over {
    display: none;
    border: 3px solid green;
    background-color: yellow;
    width: 100%;
    height: 100px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    text-align: center;
}
.start button {
    width: 100px;
    padding: 10px 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: yellow;
    color: black;
    font-size: 20px;
}
.btn {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 3px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 5px;
    font-weight: bold;
    background-color: rgba(40, 40, 77, 0.63);
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: grey;
}
.title {
    text-align: center;
}
p {
    font-size: 25px;
    font-style: italic;
    color: white;
}

.btn-clicked {
    animation: close 5s ease-in forwards;
    -webkit-animation: close 5s ease-in forwards;
}
.btn-wrong {
    animation: wrong 5s ease-in forwards;
    -webkit-animation: wrong 5s ease-in forwards;
}
@keyframes new-question {
    from {
        transform: translateX(350px);
        -webkit-transform: translateX(350px);
        -moz-transform: translateX(350px);
        -ms-transform: translateX(350px);
        -o-transform: translateX(350px);
    }
    to {
        transform: translateX(-4px);
        -webkit-transform: translateX(-4px);
        -moz-transform: translateX(-4px);
        -ms-transform: translateX(-4px);
        -o-transform: translateX(-4px);
    }
}
@keyframes wrong {
    from {
        background-color: yellow;
    }
    to {
        background-color: red;
    }
}
@keyframes close {
    from {
        background-color: yellow;
    }
    to {
        background-color: green;
    }
}
/* @media screen and (max-width: 730px){
    .reponses{
        display:grid;
        grid-template-columns: 1fr;
    }
    .container{
        display:grid;
        grid-template-columns:1fr;
        max-width:470px;
    }
} */
