
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
   /* background-image:url("images/euro_cup.jpg");*/
    margin :0;
    padding:0;
    box-sizing: border-box;
    background: url("images/euro.jpg") no-repeat center/cover;
   

}
#page{
    display : flex;
    justify-content: space-between;
}
#menu{
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
    align-items : flex-start;
    border : 1px solid white;
     width : 25%;
    
}
.sous_menu{
    border: 1px solid white;
    margin-bottom: 10px;
    text-align : center;
    background-color : black;
     border-radius : 20px;
   
}
#corps{
    width : 60%;
   /* border: 1px solid white;*/
    border-radius : 20px;
    display : flex;
    flex-flow : column wrap;
    align-content : space-around;
    justify-content : space-between;
}
#en-tete{
    border-radius : 20px;
    background-color : teal;
    height : 120px;
    margin-top : 0;
    margin-bottom : 10px;
    display : flex;
    flex-wrap : wrap;
    justify-content: space-between;
   
    
}
.header-nav{
    align-self : flex-end;
    margin-bottom : 10px;
}
#en-tete a{
    text-decoration: none;
    color : whitesmoke;
    padding :5px 20px;
   
}
#en-tete a:hover{
    border-top : 3px solid maroon;
    background-color: yellow;
    color:maroon;
}
.title{
    flex-grow:4;
    text-align : center;
}
.header-nav a{
    color:brown;
}
.aside{
    width : 15%;
    border: 1px solid white;
    border-radius : 20px;
}
.menu ul{
    list-style-type : none;
    padding-left : 5px;
}
.menu ul a{
    text-decoration : none;
    text-transform : uppercase;
    color : white;
}
h3{
    color : white;
}
.menu li:hover{
    background-color: blue;
    border-top: 3px solid yellow;
}
.article1{
     border: 1px solid white;
     height : 250px;
     border-radius : 20px;
     width : 100%;
     margin-top : 10px;
}

.article2{
     border: 1px solid white;
     height : 250px;
     border-radius : 20px;
     width : 100%;
}

.article3{
     border: 1px solid white;
     height : 250px;
     border-radius : 20px;
     width : 100%;
     margin-bottom : 10px;
}
#pied_de_page{
     border: 1px solid white;
     height : 150px;
     margin-top : 10px;
      border-radius : 20px;
}