.page {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar section"
        "pied_de_page pied_de_page";
    grid-template-columns: 1fr 2fr;
    grid-gap: 2px;
    grid-template-rows: 100px 5fr 70px;
    height: 100vh;
    width: 100%;
}

.header {
    width: 100%;
    grid-area: header;
    border: 1px solid black;
    background: lightgrey;
    margin-bottom: 10px;
}
.section {
    border: 1px solid black;
    border-bottom: none;
    grid-area: section;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2px;
    /* text-align: justify; */
    font-size: 1.1em;
    background-color: blue;
}
.sidebar {
    border: 1px solid black;
    grid-area: sidebar;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    padding-top: 15px;
    background-color: yellow;
}
.pied_de_page {
    border: 1px solid black;
    grid-area: pied_de_page;
    text-align: center;
    padding-top: 15px;
}
.header a {
    text-decoration: none;
    padding: 5px 5px;
    font-size: 20px;
    color: black;
}
.header a:hover {
    background: aqua;
    color: white;
    border-bottom: 3px solid yellow;
}
.header-nav {
    margin: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.first-article {
    padding: 10px;
    margin-right: 3px;
    margin-left: 6px;
    margin-top: 6px;
    border: 1px solid black;
    border-left: none;
}
.second-article {
    padding: 10px;
    border-left: 1px solid black;
    margin-right: 3px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.third-article {
    padding: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 737px) {
    .section {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: brown;
        color: white;
    }
    .pied_de_page,
    .sidebar {
        background-color: brown;
    }
    h2 {
        color: black;
    }
    .page {
        display: block;
    }
    .header {
        height: 200px;
        background-color: brown;
    }
    .header a {
        color: white;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
    }
    .siderbar {
        width: 100%;
    }
    .first-article,
    .second-article {
        margin-bottom: 3px;
    }
}
